# Node
node_modules
dist
.next
.turbo
out
build

# Env & Secrets
.env
.env.local
salts.json
*.pem
shared-ai/

# DS Store
.DS_Store

# Python
venv_wake/
__pycache__/
*.pyc

# Foundry
out
cache
broadcast
packages/falken-hype
